@import './fonts.css';

@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-background text-foreground;
  font-family: 'Special Elite', cursive;
}
